<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<variable name="logDirectory" value="C:\Production\Logs\NatiaLog" />

	<targets>
		<target xsi:type="File" name="allFile"
				fileName="${logDirectory}\Natia.${shortdate}.log"
				layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}"
				keepFileOpen="false"
				encoding="utf-8"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="14"
				concurrentWrites="true" />
		<target xsi:type="Console" name="console"
				layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="allFile" />
		<logger name="*" minlevel="Warn" writeTo="console" />
	</rules>
</nlog>
